.navbar {
  display: flex;
  justify-content: center;
  max-width: 80vw;
  margin: auto;
}
.mr-auto {
  margin-left: 70px;
  margin-top: 4px;
}
.icon {
  margin-right: 10px;
}
.sub {
  position: absolute;
  width: 500px;
  height: 719px;
  right: 0px;
  top: -10px;
}
.subLeft {
  position: absolute;
  width: 398px;
  height: 548px;
  right: 275px;
  top: 120px;
}
.subButtom {
  position: absolute;
  width: 500px;
  top: 70px;
  right: 0px;
}
.subButtom img {
  width: 500px;
}
.container-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 485px;
  margin-left: 161px;
  margin-top: 85px;
}
.container-2 div {
  padding: 5px;
}
.box-1 p {
  font-size: 58px;
  font-family: Verdana, Geneva, Tahoma, sans-serif, bold;
}
.box-2 {
  display: flex;
  flex-direction: row;
}
.box-2 p {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  margin: 3px;
}
.p1 {
  background-color: #666666;
}
.p2 {
  background-color: #feb554;
}
.p3 {
  background-color: #606651;
}
.p4 {
  background-color: #edab7b;
}
.p5 {
  background-color: #c56a72;
}
.box-4 {
  display: flex;
  flex-direction: row;
}
.box-4 button {
  border-radius: 50px;
  width: 180px;
  margin-left: 50px;
  background-color: black;
  color: white;
  font-family: bold;
}
.box-4 p {
  margin-top: 13px;
  font-family: bold;
  font-size: 28px;
}

.slick-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.slider div {
  display: flex;
  margin: 2px 0px;
}
.slick-slide slick-active slick-current {
  margin-top: 20px !important;
}
.slick-track {
  top: 14px !important ;
}
.slick-prev:before,
.slick-next:before {
  color: black !important;
}
.container-slider {
  position: relative;
  margin-top: 80px;
}
.slick-slider {
  position: absolute;
  margin-top: 20px !important;
  max-width: 80vw !important;
  margin: 10px auto;
}
.Main-containe-1 {
  display: flex;
  margin-left: 100px;
  margin-top: 70px;
  margin-right: 100px;
}
.Main-containe-1 ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  flex: 1;
}
.Main-containe-1 ul li {
  border-bottom: 1px solid;
  padding: 20px;
  font-family: strong;
  color: black;
}
.Main-containe-1 ul li a {
  text-decoration: none;
}

.Main-container-2 {
  display: flex;
}
.Main-container-2 p {
  position: relative;
  margin-top: 250px;
  margin-left: 90px;
  width: 568px;
}

.Main-container-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Main-container-3 p {
  position: relative;
  width: 440px;
}
.Main-container-4 {
  display: flex !important;
  justify-content: center !important;
  align-items: center;

  max-width: 100vw;
}

.info2 {
  align-self: center;
  margin: 0px auto;
}
.info {
  position: relative;
}
.plus {
  position: relative;
  margin-top: 0px;
  display: flex;
  width: 400px;
  height: 72px;
}
.img2 {
  position: relative;
  width: 40px !important;
}

.img1 {
  width: 600px;
}

@media (max-width: 1100px) {
  .navbar {
    display: flex;
    justify-content: center;
    max-width: 95vw;
    margin: auto;
  }
  .container-1 {
    display: none;
  }
  .container-2 {
    display: flex;
    justify-content: center;
    max-width: 90vw;
    margin: auto;
    margin-top: 20px;
  }
  .girlImg {
    display: flex;
    justify-content: center;
    max-width: 95vw;
    margin: auto;
  }
  .Main-containe-1 ul {
    display: flex;
    align-items: center;
    list-style: none;
    max-width: 90vw;
  }
  .box-1 {
    display: flex;
    justify-content: center;
    max-width: 90vw;
    margin: auto;
  }
  .box-1 p {
    font-size: 10vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif, bold;
  }
  .icon {
    display: none;
  }
}
